@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

$primary: hsl(47, 88%, 63%);
$neutralWhite: hsl(0, 0%, 100%);
$neutralGrey: hsl(0, 0%, 50%);
$neutralBlack: hsl(0, 0%, 7%);

$fonts: "Figtree", sans-serif;
